:root {
    background-color: #000000;
    color: white;
    font-family: 'determinationmono';
}

@font-face {
    font-family: 'profontwindowsregular';
    src: url('./fonts/pfw-webfont.woff2') format('woff2'),
         url('./fonts/pfw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: determinationmono;
  src: url('./fonts/dtm-fonts/DeterminationMonoWeb.woff');
}

@font-face {
  font-family: determinationsans;
  src: url('./fonts/dtm-fonts/DeterminationSansWeb.woff');
}