:root {
    --BACKGROUND_COLOR: #0000007f;
    background-color: #000000;

    font-family: 'determinationmono';
    color: #ccccdd;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    
    position: fixed;
    background-image: url("./assets/GridSquare.png");
    image-rendering: pixelated;
}

#canvas {
    padding: 0;
    margin: 0;
    touch-action: none;
    display: contents;
    position: absolute;
    top: 0px; left: 0px;
}

.layer {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
}

#layer1 {
    pointer-events: inherit;
}

#searchlayer {
    /* position: absolute; */
    /* width: calc(100% - 256em); */
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
}

#search {
    border: none;
    background-color: black;
    color: white;
    font-family: determinationmono;
    border-bottom: 1px solid gray;
    width: 90%;
    font-size: 20px;
    margin-left: 10px;
}

#search:focus {
    outline: none !important;
    border-bottom: 1px solid white;
}

#bandcampintegration {
    /* position: absolute; */
    /* width: calc(100% - 256em); */
    display: none;
    width: 432px;
    height: 42px;
    top: 0px; left: 0px;
}

#hudslide {
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 64px;
    height: calc(50% + 1em);
    width: 576px;
    right: -490px;
    transition: right ease-out 0.5s;
    transition-delay: 0.01s;
}

/*
i didnt know stackoverflow could copy code like this. huh!

Source - https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices
Posted by Hải Bùi, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-30, License - CC BY-SA 4.0
*/
/* @media (hover: hover) and (pointer: fine) {
    #hudslide:hover {
        right: 10px;
        transition-delay: 0s;
    }
} */

#hudslide:has(#hud:hover), #hudslide[isfocused="true"] {
    right: 100px;
    transition-delay: 0s;
}

#uiselector {
    display: flex;
    pointer-events: all;
    flex-direction: column;
    position: relative;
    right: 0px;
}

.uipage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 576px;
    background-color: black;
    border: 5px solid white;
    padding: 16px;
}

.uipage[uivisible="false"] {
    display: none;
}

.uiview {
    position: relative;
    overflow-y: auto;
    pointer-events: all;
    touch-action: all;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: white;
}

.uibox {
    position: relative;
    width: 100%;
    background-color: var(--BACKGROUND_COLOR);
    pointer-events: all;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.uiselector {
    /* color: #ff7f27; */
    background-color: #ff7f27;
    /* background-image: url('./menubase.png'); */
    /* background-size: contain; */
    width: 60px;
    height: 56px;
    margin: 0px;
    padding: 0px;

    border: none;
}

.uibuttonimg {
    filter: none;
    width: 56px;
    height: 56px;
    pointer-events: none;
}

.uiselector[selected="true"] {
    background-color: #ffff00;
}

@font-face {
  font-family: determinationmono;
  src: url('./fonts/dtm-fonts/DeterminationMonoWeb.woff');
}

@font-face {
  font-family: determinationsans;
  src: url('./fonts/dtm-fonts/DeterminationSansWeb.woff');
}

@font-face {
    font-family: 'profontwindowsregular';
    src: url('./fonts/pfw-webfont.woff2') format('woff2'),
         url('./fonts/pfw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link {
    color: rgb(149, 136, 238)
}


a:hover {
    color: rgb(180, 169, 252)
}


a:visited {
    color: rgb(180, 169, 252)
}

a:visited:hover {
    color: rgb(149, 136, 238)
}

a:active {
    color: rgb(79, 67, 161) !important
}
